<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about-page.css" />
</head>
<body>
    <h1 class="about-page">About Page</h1>
    <p class="aboutpic">I don't know anything about this monkey, it was just a random picture I saw online!</p>
    <img class="monkeypic" src="/images/Monkey.jpg" />
    <a class="gohome" href="/home">Go back to the home page</a>
</body>
</html>