<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home-page.css" />
</head>
<body>
    <h1 class="homepage">Home Page</h1>
    <h3 class="welcome">Welcome to the page about this monkey I found!</h3>
    <p class="use-links">use the links below to navigate around the site!</p>
<div class="link-buttons">
    <a class="about-link" href="/about">Go to the About Page</a>
    <a class="works-link" href="/works">Go to the Works Page</a>
    <a class="photos-link" href="/photos">Go to the Photos Page</a>
</div>
</body>
</html>